*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    gap: 20px;
}
span{
    color: rgb(206, 44, 44);
}
h2{
    font-family: "Roboto";
    text-align: center;
    padding: 120px;
    color: rgb(0, 17, 255);
}